.container{
    display:flex;
    flex-direction:column;
    height:100vh;
    margin:0;
    justify-content:center;
}

.title{
    font-size:large;
    font-weight:bold;
    flex:none;
}

.grid{
    display:flex;
    flex-direction: column;
    flex:1;
}

.square{
    flex:1;
    border: 1px solid black;
    margin:0;
}

.row{
    display:flex;
    flex: 1;
}

